-- name: Create{{ .Entity }} :one
INSERT INTO {{ snakecase .Entity }} (name, email)
VALUES ($1, $2)
RETURNING *;

-- name: Find{{ .Entity }} :one
SELECT *
FROM {{ snakecase .Entity }}
WHERE id = $1;

-- name: Find{{ .Entity }}sWithIDs :many
SELECT *
FROM {{ snakecase .Entity }}
WHERE id = any($1::uuid[]);

-- name: Update{{ .Entity }} :one
UPDATE {{ snakecase .Entity }}
SET name = COALESCE($1, name)
WHERE id = $2
RETURNING *;

-- name: Delete{{ .Entity }} :one
DELETE FROM {{ snakecase .Entity }}
WHERE id = $1
RETURNING *;
